#skills{
    overflow:hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.skillBars {
    margin: 1.5rem;
    width: 100vw;
    text-align: center;
    display: inline-flex;
}
.skillGroup{
    margin: auto;
}
.skillBars button{
    background:white;
    color: black;
    border:none;
    display: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem; 
    font-size: 24px;
    height: 72px;
    width: 150px;
    margin-right: 5%;
    margin-bottom: 5%;
}
.skillBars button:hover{
    background:goldenrod;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,024),0 17px 50px 0 rgba(0,0,0,0.19);
    border:none;
    display: table-column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem; 
    font-size: 24px;
}
.bg{
    width: 50%;
    height: 50%;
    z-index: -1;
    object-fit: cover
}
