#projects{
    overflow:visible;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.projectTitle{
    margin: auto;
    font-size: 3rem;
    font-weight: 600px;
}
.projectContent{
    width: 80vw;
    height: 90vh;
    display: inline-flex;
    align-items: center;
}
.projectContent div{
    margin:auto;
}
.projectImg{
    object-fit: cover;
    width: 70%;
    height: 70%;
    margin: auto;
}